.chatOnline{
    margin-top: 10px;
}
.chatOnlineFriend{
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}
.chatOnlineFriend:hover{
    background-color: aquamarine;
}
.chatOnlineImgContainer{
   position: relative;
}
.chatOnlineImg{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid gray;
    object-fit: cover;
}
.chatOnlineBadge{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: limegreen;
    top: 0px;
    right: 0px;
}
.chatOnlineName{
    margin-left: 10px;
}